<!-- This partial is used by
  - training_request/index
  - home/_home_training_requests
  -->
<%= render 'training_requests/search_widget', search_path: search_path %>

<br/>

<div class="table-responsive">
  <table class="table table-responsive-sm table-hover mb-0">
    <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th class="text-center">Start date</th>
      <th class="text-center">End date</th>
      <th>Assigned to user</th>
      <th>Requested by user</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <%= content_tag_for(:tr, @training_requests) do |training_request| %>
        <td>
          <div>
            <%= link_to training_request.name, training_request %>
          </div>
          <div class="small text-muted">
            Status: <strong><%= training_request.status %></strong>
          </div>
        </td>
        <td>
          <div class="small text-muted text-center">
            <%= training_request.start_date.strftime("%B %d, %Y") unless training_request.start_date.blank? %>
          </div>
        </td>
        <td>
          <div class="small text-muted text-center">
            <%= training_request.end_date.strftime("%B %d, %Y") unless training_request.end_date.blank? %>
          </div>
        </td>
        <td>
          <div>
            <% unless training_request.assigned_to_user.blank? %>
                <%= training_request.assigned_to_user.first_name + ' ' + training_request.assigned_to_user.last_name %>
                <div class="small text-muted">
                  <%= training_request.assigned_to_user.email %>
                </div>
            <% end %>
          </div>
        </td>
        <td>
          <div>
            <%= training_request.requested_by_user.first_name + ' ' + training_request.requested_by_user.last_name %>
            <div class="small text-muted">
              <%= training_request.requested_by_user.email %>
            </div>
          </div>
        </td>
        <td>
          <% if current_user.has_cached_role?(:admin) || current_user.has_cached_role?(:training_admin) %>
              <%= crud_links training_request %>
          <% end %>
        </td>
    <% end %>
    </tbody>
  </table>
</div>


<%= paginate @training_requests %>
