<div class="panel panel-default">
  <div class="panel-body">

    <%= form_for(@assignment_queue, html: {class: "form-horizontal", role: "form"}) do |f| %>
        <% if @assignment_queue.errors.any? %>
            <div class="alert alert-danger alert-dismissable" role="alert">
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4><%= pluralize(@assignment_queue.errors.count, "error") %> prohibited this assignment_queue from being
                saved:</h4>

              <ul>
                <% @assignment_queue.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="form-group">
          <%= f.text_field :assignment_order %>
          <div class="form-group">
            <%= f.label 'Assignment Queue', class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.select :assignment_queue, :status, [['assigned','assigned'],['skipped','skipped'],['active','active']], selected: @assignment_queue.status %>
            </div>
          </div>
          <%= f.autocomplete :user %>
          <%= f.autocomplete :training_request %>

          <div class="form-group">
            <div class="col-sm-10">
              <%= f.submit class: 'btn btn-primary' %>
            </div>
          </div>
        </div>

    <% end %>
  </div>
</div>