<div class="tab-pane active" id="financial-search" role="tabpanel" aria-labelledby="financial-search-tab-tab">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h5><strong><%= yield(:title) %></strong></h5>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-12">

              <%= form_tag(financial_accounts_path, method: :get, class: 'form-inline pull-left') do %>

                  <div class="form-group row">
                    <div class="col-md-12">
                      <div class="input-group">
                        <%= text_field_tag :q, params[:q], class: 'form-control' %>
                        <span class="input-group-btn">
                      <%= button_tag nil, name: nil, class: 'btn btn-primary' do %>
                        <i class="fa fa-search"></i> Search
                      <% end %>
                    </span>
                      </div>
                    </div>
                  </div>

              <% end %>

              <% if current_user.has_cached_role?(:financial_admin) or current_user.has_cached_role?(:admin) %>
                  <%= link_to new_financial_account_path, class: 'btn btn-primary pull-right' do %>
                      <span class="glyphicon glyphicon-plus"></span>
                      New Financial account
                  <% end %>
              <% end %>
            </div>
          </div>

          <br/>

          <div class="table-responsive">
            <table class="table table-responsive-sm table-hover table-outline mb-0">
              <thead class="thead-light">
              <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Parent accounts</th>
                <th class="text-center">Actions</th>
              </tr>
              </thead>

              <tbody>
              <%= content_tag_for(:tr, @financial_accounts) do |financial_account| %>
                  <td><%= link_to financial_account.name, financial_account_path(financial_account) %></td>
                  <td><%= financial_account.status %></td>
                  <td><%= financial_account.parent_account.nil? ? "None" : financial_account.parent_account.name %></td>
                  <td class="text-center">
                    <% if current_user.has_cached_role?(:financial_admin) or current_user.has_cached_role?(:admin) %>
                        <%= crud_links financial_account %>
                    <% end %>
                  </td>
              <% end %>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
